.info-bar {
  padding: 20px 10px;
}

.info-bar>div {
  position: relative;
}

.info-bar>div>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-bar>div>ul>li {
  margin-bottom: 4px;
}

.info-bar>div>ul>li>button {
  width: 60px;
}

.info-bar>div>.bubble {
  position: absolute;
  top: 0;
  left: 70px;
  min-height: 370px;
  width: 600px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.info-bar>div>.bubble>.pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  left: -20px;
}

.info-bar>div>.bubble>.panel>p>.producer-tables {
  display: flex;
}
.info-bar>div>.bubble>.panel>p>.producer-tables>table {
  margin-right: 20px;
}

.info-bar>div>.bubble>.panel>p>.producer-tables>table>tbody>tr>td {
  padding: 2px 8px;
}

.info-bar>div>.bubble>.panel>h2{
  margin-right: 30px;
}

.info-bar>div>.bubble>.panel>h2>button{
  margin-left: 8px;
}
